.servicos-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
    .servicos-header{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        align-items: center;

        .servicos-title{
            box-sizing: content-box;
            height: 50px;
            display: flex;
            align-items: center;
            background-color: var(--primary);
            font-size: 26px;
            padding: 0px 5px;
            color: white;
            font-weight: bold;
            border-radius: 6px;
        }

        .servicos-description{
            width: 600px;
            height: 50px;
            display: flex;
            align-items: center;

        }

    }

    .servicos-field{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 45px;
        gap: 30px;
    }
}

.servico{
    width: 600px;
    height: 310px;
    border: 1px solid black;
    padding: 40px;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 0px black;

    div{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .servico-title{
            font-size: 22px;
            font-weight: bolder;
            padding: 4px 15px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &:first-of-type{
            width: 45%;
        }
    }

}


.white{
    background-color: white;
    color: white;

    .servico-descript{
        color: var(--black);
    }

    .servico-title{
        background-color: var(--primary);
    }

    .btn-more{
        color: var(--black);
    }
}

.red{
    background-color: var(--primary);

    .servico-descript{
        color: var(--white);
    }

    .servico-title{
        background-color: var(--white);
    }

    .btn-more{
        color: var(--white);
    }
}

.black{
    background-color: var(--black);
    color: white;
    
    .servico-title{
        background-color: var(--primary);
    }

    .btn-more{
        color: var(--white);
    }
}

.btn-more {
    background: none;
    background-color: none; // Fundo preto
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px; // Espaço entre o ícone e o texto
    font-size: 16px;
    font-weight: bold;
    transition: .4s;
}

.servico-image{
    height: 220px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilização do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s forwards; // Animação de fade-in
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    transform: scale(0.7); // Começa menor
    animation: scaleIn 0.3s forwards; // Animação de escala
  }
  
  .modal-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--black);
  }
  
  .modal-description {
    margin-bottom: 20px;
    color: var(--black);
  }
  
  .close-modal {
    background-color: #ff4444;
    color: var(--black);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-modal:hover {
    background-color: #cc0000;
  }
  
  /* Keyframes para animação */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    from {
      transform: scale(0.7); // Começa pequeno
    }
    to {
      transform: scale(1); // Expande até o tamanho normal
    }
  }
  